/* footer */

.footer {
    padding-top: 32px;
    padding-bottom: 40px;
  
    @include pad {
      padding-bottom: 20px;
    }
    @include mobile {
      padding: 24px auto;
    }
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      @include mobile {
        align-items: start;
      }
    }
  
    &__menu {
      display: flex;
  
      @include mobile {
        display: none;
      }
  
      a {
        &:hover {
          text-shadow: rgba(255, 255, 255, 0.1) -1.5px -1.5px 1px,
            rgba(0, 0, 0, 0.75) 1px 1px 1px;
          opacity: 1;
        }
      }
    }
  
    &__media {
      display: flex;
  
      a {
        display: block;
      }
  
      img {
        width: 48px;
        height: 48px;
  
        @include pad {
          width: 24px;
          height: 24px;
        }
      }
    }
  
    &__content {
      @include mobile {
        display: none;
      }
  
      img {
        width: 48px;
        height: 48px;
  
        margin-right: 22px;
  
        @include pad {
          width: 24px;
          height: 24px;
  
          margin-right: 8px;
        }
      }
  
      a {
        font-size: 2.25rem;
        line-height: 48px;
        vertical-align: middle;
  
        @include pad {
          font-size: 1.25rem;
          line-height: 24px;
        }
      }
    }
    /* mobile 顯示 */
    &__sm__content {
      display: none;
  
      @include mobile {
        display: block;
      }
  
      img {
        width: 20px;
        height: 20px;
  
        margin-right: 6px;
      }
      a {
        line-height: 20px;
      }
    }
  
    &__copyright {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      padding-top: 24px;
      border-top: 1px solid $white;
  
      @include mobile {
        flex-direction: column;
        align-items: start;
  
        padding-top: 16px;
      }
  
      p {
        @include mobile {
          font-size: 14px;
  
          margin-bottom: 8px;
        }
      }
  
      &__list {
        display: flex;
        justify-content: space-between;
  
        font-size: 14px;
  
        @include mobile {
          flex-direction: column;
          padding-left: 0;
        }
  
        li {
          @include mobile {
            margin-bottom: 8px;
          }
        }
      }
    }
  }