.optical__content {
    width: 23%; /* optical */
    /* sunglasses width: 31.5%; */
  
    margin-bottom: 6.5rem;
  
    @include pad {
      width: 47.8%;
  
      margin-bottom: 4.5rem;
    }
    @include mobile {
      width: 100%;
  
      margin-bottom: 2rem;
    }
  }