/* 選單樣式 */

.select {
  margin-bottom: 2rem;

  @include pad {
    margin-bottom: 1.5rem;
  }
  @include mobile {
    margin-bottom: 1.25rem;
  }

  label {
    margin-right: 1rem;

    @include mobile {
      font-size: 0.875rem;
    }
  }
  /* 樣式 */
  &__place {
    font-size: 1.125rem;
    color: #495057;

    width: 30%;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    padding-left: 0.5rem;

    @include pad {
      width: 35%;
    }

    @include mobile {
      width: 75%;
      height: 2.25rem;
      line-height: 2.25rem;
    }
  }
  /* 文字 */
  &__words {
    font: 1.125rem;
    @include pad {
      font-size: 1rem;
    }
    @include mobile {
      font-size: 0.875rem;
    }
  }
}

/* 門市清單排版 */
.store__lists {
  display: flex;
  flex-wrap: wrap;

  @include pad {
    justify-content: space-between;
  }
}

/* 門市資訊 RWD 卡片排版 */
.store__card {
  max-width: 31.5%;
  color: $grayBlack;

  margin-bottom: 2rem;
  margin-right: 20px;

  @include pad {
    max-width: 48%;
    margin-bottom: 1.25rem;
    margin-right: 0;
  }

  @include mobile {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  &__img {
    object-fit: cover;
    object-position: center;
    height: 224px;

    border-top-right-radius: 2px;
    border-top-left-radius: 2px;

    @include pad {
      height: 164px;
    }
  }

  &__title {
    border-right: 1px solid #00000020;
    border-left: 1px solid #00000020;

    padding: 12px 24px;
  }
  &__content {
    border: 1px solid #00000020;

    padding: 16px 24px;

    li {
      i {
        width: 24px;
        height: 24px;
        text-align: center;

        color: $grayBlack;
      }

      p {
        display: inline;
      }

      a {
        color: $grayBlack;
      }
    }
  }
}

.more__info__btn {
  display: block;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;

  text-align: center;
  background-color: #000;
  color: #fff;
}
