/* util */

.container {
    max-width: 1140px; /* 1110+30 */
    margin: 0 auto;
  
    padding-left: 15px;
    padding-right: 15px;
  
    @include pad {
      max-width: 720px; /* 690+30 */
    }
  
    @include mobile {
      max-width: 375px; /* 345+30 */
    }
  }
  
  .container-section {
    padding-top: 60px;
    padding-bottom: 80px;
  
    @include pad {
      padding-top: 40px;
      padding-bottom: 56px;
    }
    @include mobile {
      padding-top: 32px;
      padding-bottom: 40px;
    }
  }
  
  .container-tab {
    padding-top: 96px;
    padding-bottom: 160px;
  
    @include pad {
      padding-top: 60px;
      padding-bottom: 96px;
    }
  
    @include mobile {
      padding-top: 28px;
      padding-bottom: 56px;
    }
  }
  
  /* color */
  .white {
    color: #fff;
  }
  
  .primary {
    color: $mainRed;
  }
  .secondary {
    color: $darkRed;
  }
  
  .bg-primary {
    background-color: $mainRed;
  }
  .bg-secondary {
    background-color: $darkRed;
  }
  .bg-third {
    background-color: $lightPink;
  }
  
  /*  分頁副標題 */
  
  .callout-secondary {
    border-left: 0.5rem solid #9f1213;
    padding-left: 1rem;
    @include mobile {
      padding-left: 0.5rem;
    }
  }
  
  /*font*/
  .fw-bold {
    font-weight: bold;
  }
  
  .fw-sm-nobold {
    @include mobile {
      font-weight: normal;
    }
  }
  /* index home page font*/
  .title {
    font-size: 3rem;
    text-align: center;
  
    @include pad {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  
    @include mobile {
      font-size: 1.25rem;
  
      margin-bottom: 1.25rem;
    }
  }
  /* tab pages font */
  .tab__title {
    /* 64px */
    font-size: 3rem;
    line-height: 1.66;
    margin-bottom: 3.75rem;
  
    @include mobile {
      font-size: 1.75rem;
    }
  }
  
  .text-xs {
    font-size: 0.875rem; /* 14px */
  }
  
  .text-s {
    font-size: 1.25rem; /* 20px */
    @include pad {
      font-size: 1rem;
    }
  }
  
  .text-m {
    font-size: 1.5rem; /* 24px */
    @include pad {
      font-size: 1rem;
      line-height: 1.8;
    }
  }
  
  /* spacer */
  .mb-2 {
    margin-bottom: 8px;
  }
  .mb-3 {
    margin-bottom: 1rem;
  }
  .mb-5 {
    margin-bottom: 1.5rem;
  }
  .mb-7 {
    margin-bottom: 2rem;
  }
  .pl-3 {
    padding-left: 1rem;
  }
  
  .pr-3 {
    padding-right: 1rem;
  }
  
  .pl-5 {
    padding-left: 1.5rem;
  }
  .pr-5 {
    padding-right: 1.5rem;
  }
  
  .pl-7 {
    padding-left: 2rem;
  }
  .pr-7 {
    padding-right: 2rem;
  }
  .pr-10 {
    padding-right: 3rem;
  }
  
  /* spacer RWD */
  .mb-md-3 {
    @include pad {
      margin-bottom: 1rem;
    }
  }
  .mb-md-7 {
    @include pad {
      margin-bottom: 2rem;
    }
  }
  
  .mb-sm-3 {
    @include mobile {
      margin-bottom: 1rem;
    }
  }
  .pl-md-0 {
    @include pad {
      padding-left: 0;
    }
  }
  
  .pr-md-5 {
    @include pad {
      padding-right: 1.5rem;
    }
  }
  
  .pr-md-9 {
    @include pad {
      padding-right: 2.5rem;
    }
  }
  
  .pl-sm-0 {
    @include mobile {
      padding-left: 0;
    }
  }
  .pr-sm-0 {
    @include mobile {
      padding-right: 0;
    }
  }
  
  /* 不顯示 */
  .lg-no-display{
    display: none;
  }
  
  .md-no-display{
    @include pad{
      display: none;
    }
  }
  
  
  /* display */
  .lg-display{
    display: block;
  }
  
  .md-display{
    @include pad{
      display: block;
    }
  }
   
  /* 不顯示 */
  
  .sm-display {
    @include mobile {
      display: block;
    }
  }
  
  
  .sm-no-display {
    @include mobile {
      display: none;
    }
  }