/* product components */
/* product menu */
.product {
    &__list {
      width: 100%;
      display: flex;
    }
  
    &__menu {
      width: 33.33%;
      border: 1px solid $lightGray;
  
      /* 排版 */
      a {
        display: flex;
        justify-content: center;
        align-items: center;
  
        color: #000;
        font-size: 2rem;
        font-weight: 600;
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
  
        &:hover {
          border-bottom: 4px solid $mainRed;
          padding-bottom: -4px;
        }
  
        @include pad {
          height: 60px;
          font-size: 1.5rem;
        }
  
        @include mobile {
          height: 30px;
          font-size: 0.875em;
        }
      }
  
      img {
        width: 44px;
        height: 44px;
        object-fit: contain;
        margin-right: 10px;
        @include pad {
          width: 30px;
          height: 30px;
        }
        @include mobile {
          width: 14px;
          height: 14px;
          margin-right: 2px;
        }
      }
    }
  }
  /* product banner */
  .product__banner {
    display: flex;
  
    img {
      width: 50%;
      height: 304px;
      object-fit: cover;
      object-position: center;
      @include mobile {
        height: 148px;
      }
    }
  }
  
  /* product title */
  .product {
    &__title {
      text-align: center;
  
      margin-bottom: 40px;
  
      @include pad {
        margin-bottom: 32px;
      }
      @include mobile {
        margin-bottom: 20px;
      }
  
      &__eng {
        font-size: 2.625rem;
  
        @include pad {
          font-size: 2rem;
        }
        @include mobile {
          font-size: 1.25rem;
        }
      }
  
      &__ch {
        font-size: 2rem;
        @include pad {
          font-size: 1.5rem;
        }
        @include mobile {
          font-size: 1rem;
        }
      }
    }
  }


/* product list */
.product {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
 
  &__content {

    img {
      width: 100%;
      height: 164px;
      object-fit: cover;
      object-position: center;

      @include mobile {
        height: 166px;
      }
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;

    font-size: 1.5rem;

    @include mobile {
      font-size: 1rem;
    }

    p {
      color: $mainRed;
      font-weight: 600;
    }
  }

  &__color {
    display: flex;
  }
}

/* color */
.color{

    &__choice{
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 0.5rem;

        border-radius: 4px;

        @include mobile{
            width: 16px;
            height: 16px;
            margin-right: 0.25rem;
        }
    }

    &__1{
        background-color: #5F3E2D;
    }
    &__2{
        background-color: #B75929;
    }
}